html {
    padding: 0;
    margin: 0;
    }
    
body {
	background: url("/resource/image/bottom_pic.jpg") no-repeat scroll center bottom transparent;
    font-family: georgia;
    padding-bottom: 317px;
}

a {
    color: #F2797F;
    text-decoration: underline;
}

a.registry_link {
	text-decoration: none;
	}

p {
    color: #FCF7F7;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 45px;
}

img.image_box1_content {
	padding-top: 15px;
	}

#mask {
 	position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    background-color:white; 
    z-index:9999;
}


#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 158px;
    width: 100%;
	z-index: 999;
	}
	

#nav_bg {
    background: url("/resource/image/main.png") no-repeat scroll center bottom transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 158px;
    width: 100%;
    z-index: 1000;
    }
    
#nav_item_wrapper {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
    
#nav_aboutus {
	background: url("/resource/image/home.jpg") no-repeat scroll left bottom transparent;
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 67px;
    width: 111px;
    z-index: 1100;
	}

#nav_proposal {
	background: url("/resource/image/ourstory.jpg") no-repeat scroll left bottom transparent;
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 67px;
    width: 136px;
    z-index: 1100;
	}
	
#nav_photos {
	background: url("/resource/image/engagement.jpg") no-repeat scroll left bottom transparent;
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 67px;
    width: 120px;
    z-index: 1100;
	}
	
#nav_guestbook {
	background: url("/resource/image/guestbook.jpg") no-repeat scroll left bottom transparent;
    position: relative;
    float: right;
    cursor: pointer;
    top: 0px;
    height: 67px;
    width: 110px;
    z-index: 1100;
	}
	
#nav_registry {
	background: url("/resource/image/invitation.jpg") no-repeat scroll left bottom transparent;
    position: relative;
    float: right;
    cursor: pointer;
    top: 0px;
    height: 67px;
    width: 117px;
    z-index: 1100;
	}

#nav_thewedding {
	background: url("/resource/image/photogallery.jpg") no-repeat scroll left bottom transparent;
    position: relative;
    float: right;
    cursor: pointer;
    top: 0px;
    height: 67px;
    width: 129px;
    z-index: 1100;
	}
    
#gridwidth {
	margin-top: 67px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	}

#lead-photo {
	height: 664px;
	width: 1000px;
	}

#about-us-title {
	/*background: url("/resource/image/home.jpg") no-repeat scroll center bottom transparent;
	width: 212px;
	height: 130px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;*/
	}
	
#about-us-box-top {
	background: url("/resource/image/bg-box2-top.png") no-repeat scroll center bottom transparent;
	width: 687px;
	height: 48px;
	margin-top: 120px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	}
	
#about-us-box-middle {
	background: url("/resource/image/bg-box2-middle.png") repeat-y scroll center bottom transparent;
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
#about-us-box-bottom {
	background: url("/resource/image/bg-box2-bottom.png") no-repeat scroll center bottom transparent;
	width: 731px;
	height: 114px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	}
	
#from-us-wrapper {
	width: 930px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	}

#proposal-title {
	background: url("/resource/image/ourstory.jpg") no-repeat scroll center bottom transparent;
	width: 338px;
	height: 125px;
	margin-top: 49px;
	margin-left: auto;
	margin-right: auto;
	}

#proposal-wrapper {
	width: 1000px;
	height: auto;
	margin-left: 160px;
	margin-right: auto;
	margin-bottom: 300px;
	}


#photos-title {
	/*background: url("/resource/image/engagement.jpg") no-repeat scroll center bottom transparent;*/
	width: 151px;
	/*height: 68px;*/
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	}
	
	
.photo-wrapper {
	width: 957px;
	height: 567px;
	margin-left: auto;
	margin-right: auto;
	}

.photos-leftarrow {
	background: url("/resource/image/icon-arrow-left.png") no-repeat scroll center center transparent;
	width: 24px;
	height: 567px;
    cursor: pointer;
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
.photos-slideshow {
	background: url("/resource/image/bg-photo-frame.png") no-repeat scroll center bottom transparent;
	width: 909px;
	height: 567px;
	float:left;
	margin-left: auto;
	margin-right: auto;
}

.photos-thephoto {
	position: relative;
	width: 853px;
	height: 505px;
}

.photos-thephoto img {
	position: absolute;
	top: 28px;
	left: 30px;
}

.photos-rightarrow {
	background: url("/resource/image/icon-arrow-right.png") no-repeat scroll center center transparent;
	width: 24px;
	height: 567px;
    cursor: pointer;
	float: right;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
#photos-text {
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 13px;
	}


#the-wedding-title {
	/*background: url("/resource/image/photogallery.jpg") no-repeat scroll center bottom transparent;*/
	width: 371px;
	height: 161px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	}
	
#registry-title {
	/*background: url("/resource/image/invitation.jpg") no-repeat scroll center bottom transparent;*/
	width: 207px;
	height: 99px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	}
	
#guestbook-title {
	background: url("/resource/image/guestbook.jpg") no-repeat scroll center bottom transparent;
	width: 338px;
	height: 125px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	}

#mycounter a {
	display:none !important;
}